<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Cálculo de compras</h1>
    <p>Nombre del cliente: {{ nombre }}</p>
    <p>Total sin descuento: ${{ total_sin_descuento }}</p>
    <p>El descuento es: ${{ descuento }}</p>
    <p>El total a pagar es: ${{ total_con_descuento }}</p>
    <a href="/">Volver al Menú</a>
</body>
</html>

